<mat-toolbar color="primary">
  <button
    (click)="onToggleSidebar()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    *ngIf="isAuthenticated"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="navbar-brand">Recipe Book</span>

  <span class="spacer"></span>
  <button
    mat-icon-button
    class="example-icon"
    (click)="onLogout()"
    *ngIf="isAuthenticated"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<br />
<nav mat-tab-nav-bar *ngIf="isAuthenticated">
  <a
    mat-tab-link
    *ngFor="let title of linksTitles; let i = index"
    (click)="activeLink = title"
    [active]="activeLink == title"
    [routerLink]="links[i]"
    style="text-decoration: none"
  >
    {{ title }}
  </a>
</nav>
<br/>
<br/>
