<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="!recipeForm.valid"
            style="margin-right: 10px"
          >
            Save
          </button>
          <button
            type="button"
            mat-raised-button
            color="warn"
            style="margin-right: 10px"
            (click)="onCancel()"
          >
            Cancel
          </button>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-12">
          <mat-form-field appearance="outline">
            <mat-label for="name">Name</mat-label>
            <input matInput type="text" id="name" formControlName="name" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <mat-form-field appearance="outline">
            <mat-label for="imagePath">Image URL</mat-label>
            <input
              matInput
              type="text"
              id="imagePath"
              formControlName="imagePath"
              #imagePath
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-responsive" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <mat-form-field appearance="outline">
            <mat-label for="description"> Description </mat-label>
            <input
              matInput
              type="text"
              id="name"
              formControlName="description"
              row="6"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div
            class="row"
            *ngFor="let ingredientCtrl of controls; let i = index"
            [formGroupName]="i"
            style="margin-top: 10px"
          >
            <div class="col-xs-6">
              <mat-form-field appearance="outline">
                <mat-label for="name">
                  Ingredient {{ i + 1 }} name
                </mat-label>
                <input matInput type="text" formControlName="name" />
              </mat-form-field>
            </div>
            <div class="col-xs-4">
              <mat-form-field appearance="outline">
                <mat-label for="amount">
                  Ingredient {{ i + 1 }} amount
                </mat-label>
                <input matInput type="number"
                formControlName="amount" />
              </mat-form-field>
            </div>
            <div class="col-xs-2">
              <button
                mat-fab
                color="warn"
                (click)="onDeleteIngredient(i)"
              >
                <mat-icon>delete_outline</mat-icon>
              </button>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                mat-raised-button
                color="primary"
                (click)="onAddIngredient()"
              >
                Add Ingredient
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<br>
<br>
