    <!-- <app-alert
      [message]="error"
      *ngIf="error"
      (close)="onHandleError()"
    ></app-alert> -->
    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <mat-card *ngIf="!isLoading">
      <mat-card-title>Welcome!</mat-card-title>
      <br>
      <br>
      <mat-card-content>
        <form
          #authForm="ngForm"
          (ngSubmit)="onSubmit(authForm)"
          *ngIf="!isLoading"
        >
        <mat-error *ngIf="error">{{error}}</mat-error>
          <p>
            <mat-form-field appearance="fill">
              <mat-label for="email">Email</mat-label>
              <input
                matInput
                type="email"
                id="email"
                ngModel
                name="email"
                placeholder="Example: john.doe@gmail.com"
                required
                email
              />
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input
                matInput
                [type]="hide ? 'text' : 'password'"
                id="password"
                name="password"
                ngModel
                required
                minlength="6"
                placeholder="Example: 1234abc!"
              >
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
            </mat-form-field>
          </p>
          <button
            mat-raised-button
            type="button"
            color="basic"
            (click)="onSwitchMode(authForm)"
          >
            Switch to {{ isLoginMode ? "Sign Up" : "Login" }}
          </button>
          <button
            class="button"
            mat-raised-button
            color="primary"
            type="submit"
            style="margin-left: 10px"
            [disabled]="!authForm.valid"
          >
            {{ isLoginMode ? "Login" : "Sign Up" }}
          </button>
        </form>
      </mat-card-content>
    </mat-card>
