<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr />
    <table mat-table #table [dataSource]="ingredients">
      <ng-container matColumnDef="No.">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let recipe; let i = index">{{ i + 1 }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let recipe">{{ recipe.name }}</td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let recipe">{{ recipe.amount }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        class="row-item"
        mat-row
        *matRowDef="let row; columns: displayedColumns; let i = index"
        (click)="onEditItem(i)"
      ></tr>
    </table>
  </div>
</div>
