<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-xs-8">
          <mat-form-field appearance="outline">
            <mat-label for="email">Name</mat-label>
            <input
              matInput
              type="text"
              id="name"
              name="name"
              ngModel
              required
            />
          </mat-form-field>
        </div>
        <div class="col-xs-4">
          <mat-form-field appearance="outline">
            <mat-label for="amount">Amount</mat-label>
            <input
              matInput
              type="text"
              id="amount"
              name="amount"
              ngModel
              required
              pattern="^[1-9]+[0-9]*$"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!f.valid"
            style="margin-right: 10px"
          >
            {{ editMode ? "Update" : "Add" }}
          </button>

          <button
            mat-raised-button
            color="warn"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode"
            style="margin-right: 10px"
          >
            Delete
          </button>
          <button
            mat-raised-button
            type="button"
            (click)="onClear()"
            style="margin-right: 10px"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
